# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hospital_analytics
POSTGRES_PORT=5432

# ==========================================
# Airflow
# ==========================================
AIRFLOW_UID=50000
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin

# ==========================================
# Metabase
# ==========================================
METABASE_PORT=3000

# ==========================================
# MinIO
# ==========================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# ==========================================
# Project
# ==========================================
PROJECT_NAME=hospital-analytics-platform
ENVIRONMENT=development