# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
.venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Airflow
# ==========================================
airflow/logs/
airflow/airflow.db

# ==========================================
# dbt
# ==========================================
dbt/target/
dbt/dbt_packages/
dbt/logs/

# ==========================================
# Docker
# ==========================================
*.pid

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Testing
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Misc
# ==========================================
*.log